.label-remove-wrapper {
    min-height: 38px;

    .icon {
        float: right;
        width: 16px;
        color: #e10050;
        cursor: pointer;
        transform: rotate(45deg);
    }

    &.without-icon {
        display: flex;
        align-items: flex-end;
    }
}
