.question-editor-view {
    width: 75%;
    padding: 30px 15px;

    .column-container {
        display: flex;

        .column {
            width: 12.5%;
        }
    }

    .row {
        display: flex;
    }
}

