.question-editor-view {
    width: 75%;
    padding: 30px 15px;

    .column-container {
        display: flex;

        .column {
            width: 12.5%;
        }
    }

    .row {
        display: flex;
    }

    input[type="radio"],
    .radio-button {
        border-radius: 50%;
        border: 1px solid #3bb6c5;
        width: 20px;
        height: 20px;
        margin-right: 10px;

        &.active {
            background-color: #3bb6c5,
        }
    }
}

