.text-input {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: text;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    outline: 0;

    &:hover {
        border-bottom-color: rgba(0, 0, 0, 0.87);
    }

    &.error {
        background-color: rgba(225, 0, 80, 0.08);
        border-bottom-color: rgb(225, 0, 80);
    }
}
